.App {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: pink;
}

.App-header {
    width: 100%;
    height: 20%;
    background: #ddd;
    font-size: 40px;
    text-align: center;
}

.App-main {
    width: 100%;
    height: 60%;
    background: #ccc;
    display: flex;
    flex-direction: row;
}

.App-main-content {
    width: 60%;
    height: 100%;
    background: #aaa;
}

.App-main-leftside,
.App-main-rightside {
    width: 20%;
    height: 100%;
    background: #eee;
}

.App-main-content-data {
    width: 100%;
    height: 55%;
    background: yellow;
    display: flex;
    flex-direction: row;
}

.App-main-content-signal {
    width: 80%;
    height: 100%;
    background: #bbb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Signal {
    margin-left: 5%;
}

.Signal:last-child {
    margin-bottom: 5%;
}

.Signal:first-child {
    margin-top: 5%;
}

.Scheme {
    width: 20%;
    height: 100%;
    background: blue;
}

.App-main-content-variant {
    width: 100%;
    height: 25%;
    background: #bcd;
    display: flex;
    flex-direction: row;
}

.Variant {
    width: 35%;
    height: 100%;
    margin-left: 10%;
    background: #aac;
}

.Answer {
    width: 35%;
    height: 100%;
    background: #cca;
}

.App-main-content-description {
    width: 100%;
    height: 20%;
    background: #cbc;
}
